<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--<environments default="development">
        <environment id="developmentDemo">
            &lt;!&ndash; 事务管理器配置 &ndash;&gt;
            <transactionManager type="JDBC" />
            &lt;!&ndash; 数据源配置 &ndash;&gt;
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver" />
                <property name="url" value="jdbc:mysql://localhost:3306/testmybatis?serverTimezone=UTC" />
                <property name="username" value="root" />
                <property name="password" value="root" />
            </dataSource>
        </environment>
    </environments>-->
    <!--<properties>
        <property name="dirver" value="${driver}"/>
        ...
    </properties>-->

    <!-- 引入Properties文件 -->
    <properties resource="jdbc.properties" />

    <!-- 开启全局二级缓存 -->
    <settings>
        <setting name="cacheEnabled" value="true"/>

    </settings>

    <!-- 给类型定义别名 -->
    <typeAliases>
        <typeAlias type="com.mybatis.model.User" alias="User" />
        <typeAlias type="com.mybatis.util.Pager" alias="Pager" />
        <!--会为指定包下的所有类创建别名（默认别名是相应类的类名）-->
        <!--<package name="com.mybatis.model" />-->
        <typeAlias type="com.mybatis.model.Blog" alias="Blog" />
    </typeAliases>

    <environments default="development">
        <environment id="developmentDemo">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="${driver}" />
                <property name="url" value="${url}" />
                <property name="username" value="${username}" />
                <property name="password" value="${password}" />
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="dao/UserMapper.xml" />
        <mapper resource="dao/BlogMapper.xml" />
    </mappers>
</configuration>