<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.model.User">
    <!--simpleDemo:insert a simple data-->
    <insert id="addUser">
        INSERT INTO user(username, password, email)
        VALUES (#{username},#{password},#{email})
    </insert>

    <!-- 查询用户表记录数
        resultType如果设置了别名，不区分大小写
    -->
    <select id="getUserCount" resultType="int">
        SELECT COUNT(1) from USER
    </select>

    <!-- TypeAliases demo -->
    <select id="getAllUser" resultType="User">
        SELECT * FROM USER
        <!--<choose>
            <when test="username!=null">
                ...
            </when>
            <when test="">
                ...
            </when>
            <otherwise>

            </otherwise>
        </choose>-->
        <!--<select id="getAllUser" resultType="User">-->
        /*对于不知名的基本数据类型传参，不可以用_parameter传参（甚至可以省略parameterType）*/
        <!--<if test="_parameter=null">
          WHERE username LIKE concat('%',#{parameter},'%')
        </if>
        <if test="id!=0">
          AND id = #{id}
        </if>-->
    </select>

    <!-- 增删改查 -->
    <!--查询单个用户-->
    <select id="loadAUser" parameterType="int" resultType="User">
        SELECT * FROM USER
        WHERE id = #{id}
    </select>
    <update id="updateUser" parameterType="User">
        <!--UPDATE USER
        SET username = #{username}, password = #{password}, email = #{email}
        WHERE id = #{id}-->
      UPDATE USER
      <set>
          <if test="username!=null">
              username = #{username},
          </if>
          <if test="password!=null">
              password = #{password},
          </if>
          <if test="email!=null">
              email = #{email}
          </if>
      </set>
      WHERE id = #{id}
    </update>

    <!-- 删除用户 -->
    <delete id="deleteUser" parameterType="int">
        DELETE FROM USER WHERE id = #{id}
    </delete>

    <!-- 分页查询 -->
    <select id="getPageUserList" parameterType="Pager" resultType="User">
    <!--
        #：占位符，根据参数类型将参数的值设置进来。
        $：传递过来的是啥就塞进啥
    -->
        SELECT * FROM USER
        ORDER BY ${order} ${orderWay} LIMIT #{pageOffSet},#{pageSize}
    </select>

    <!--一对多关联：展示多的一方-->
    <select id="getUserBlogMapList" resultMap="userBlogMap">
        SELECT u.id uid,username,password,email,b.id bid,title titleName,content
        from user u,blog b
        where u.id=b.id
    </select>
    <resultMap id="userBlogMap" type="User">
        <id property="id" column="uid" />
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="email" column="email"/>
        <collection property="blogs" ofType="Blog">
            <result property="id" column="bid" />
            <result property="title" column="title" />
            <result property="content" column="content" />
        </collection>
    </resultMap>

    <insert id="batchAddUser">
        INSERT INTO user(username, password, email)
        VALUES
        <foreach collection="list" item="item" separator="," >
            (#{item.username},#{item.password},#{item.email})
        </foreach>

    </insert>
</mapper>