<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.model.User">
    <!--simpleDemo:insert a simple data-->
    <insert id="addUser">
        INSERT INTO user(username, password, email)
        VALUES (#{username},#{password},#{email})
    </insert>

    <!-- 查询用户表记录数 -->
    <select id="getUserCount" resultType="int">
        SELECT COUNT(1) from USER
    </select>

    <!-- TypeAliases demo -->
    <select id="getAllUser" resultType="User">
        SELECT * FROM USER
    </select>

    <!-- 增删改查 -->
    <!--查询单个用户-->
    <select id="loadAUser" parameterType="int" resultType="User">
        SELECT * FROM USER
        WHERE id = #{id}
    </select>
    <update id="updateUser" parameterType="User">
      UPDATE USER
      SET username = #{username}, password = #{password}, email = #{email}
      WHERE id = #{id}
    </update>

    <!-- 删除用户 -->
    <delete id="deleteUser" parameterType="int">
        DELETE FROM USER WHERE id = #{id}
    </delete>

    <!-- 分页查询 -->
    <select id="getPageUserList" parameterType="Pager" resultType="User">
    <!--
        #：占位符，根据参数类型将参数的值设置进来。
        $：传递过来的是啥就塞进啥
    -->
        SELECT * FROM USER
        ORDER BY ${order} ${orderWay} LIMIT #{pageOffSet},#{pageSize}
    </select>
</mapper>